#menu{
    width:50px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
  }
#Content{
    position: fixed;
    top: 40%;
    left: 50%;
    line-height:10%;
    text-align:center;
    padding:10;
    border-style:solid;
}
#ig{
    width:50px;
    position:absolute;
    top:15%;
    left:50%;
  }
#git{
    width:50px;
    position:absolute;
    top:50%;
    left:85%;
  }
#youtube{
    width:50px;
    position:absolute;
    top:50%;
    left:15%;
  }
#mail{
    width:50px;
    position:absolute;
    top:85%;
    left:50%;
  }
#i{
    position:absolute;
    top:15%;
    left:50%;
}
#g{
    position:absolute;
    top:50%;
    left:85%;
}
#y{
    position:absolute;
    top:50%;
    left:15%;
}
#m{ 
    position:absolute;
    top:85%;
    left:50%;
}
.tooltip{
    margin:0;
    position:absolute;
    text-align: center;
    cursor: pointer;  
    transform: translate(-50%, -50%)     
} 
.cursor:hover + .tooltip{
    visibility: visible;
}