#menu{
    width:50px;
    position:fixed;
    top:85%;
    left:85%;
    transform: translate(-50%, -50%)
  }
#m{
    position:absolute;
    top:15%;
    left:15%;
    padding: 20px;
}
#g{
    position:absolute;
    top:15%;
    left:85%;
    padding: 20px;
}
#y{  
    position:absolute;
    top:85%;
    left:15%;
    padding: 20px;
}
#i{ 
    position:absolute;
    top:50%;
    left:50%;
    padding: 30px;
}
.tooltip{
    margin:0;
    position:absolute;
    cursor: pointer;  
    transform: translate(-50%, -50%)     
} 
p{
  color:black;
  background-color: #caccc7;
  border: outset;
  border-color: white;
}