#content{
    position: absolute;
    width:100%;
    height: 100%;
}
#Menu{
    position: absolute;
    width:50px;  
    top:15%;
    left:15%;
    transform: translate(-50%, -50%);
    z-index:1;
}
#imgbox{   
    position: absolute;
    top:15%;
    left:15%;
    margin-right: 15%;
    border:solid;
    border-color:#d3d3d3;
    
}
.gallery{
    transition: 'transform .2s';
    max-width: 250px;
    max-height: 250px;
    margin: 8px; 
}
.gallery:hover{
  transform: scale(2);
  border:outset;
  background-color:#d3d3d3;
}